.button {
  border: 1px solid #000;
  padding: 10px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #8ea9e6;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.5s, color 0.5s;

  .text,
  .icon{
    vertical-align: middle;
  }

  .icon {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.button:hover {
  background-color: #c5d7ff;
  color: #000;
}

.button.love {
  background-color: #f00;
}