.button {
  padding: 10px;
  border: none;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #8ea9e6;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;

  transition: background-color 0.5s, color 0.5s;

  .text,
  .icon {
    vertical-align: middle;
  }

  .icon {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.button:hover {
  background-color: #c5d7ff;
  color: #000;
}

.button.love {
  background-color: #d00;
}

.button.love:hover {
  background-color: #f00;
}