<header class="siteheader">
  <nav class="navigation">
    <span class="navigation-opener burger icon-align-justify"></span>
    <ul>
      <li>New Thought</li>
      <li>Messages</li>
      <li>Recommendations</li>
      <li>Recommendations</li>
      <li>Recommendations</li>

    </ul>
  </nav>

  <div class="logo">
    <h1><span class="icon-shower"></span> Thoughts</h1>
  </div>

  <nav class="usermenu">
    <% unless session[:current_user].nil? %>
        <span class="usermenu-opener burger icon-user"></span>
        <ul>
          <li><%= render 'partials/logout' %></li>
          <li><%= link_to 'Edit Profile', edit_thinker_path(session[:current_user]) %></li>
        </ul>
    <% else %>
        <%= render 'partials/login' %>
    <% end %>
  </nav>
</header>