<article class="thought">

  <div class="text">This is good thinking at its finest</div>
  <div class="metadata">
    <span>by @The_Doctor</span>
    <span class="actions">
      <span class="button">Love</span>
      <span class="button rethink">Rethink</span>
      <span class="button talk">Talk</span>
    </span>
  </div>
</article>