<div class="thinker">
  <div class="picture">
    <%= image_tag(get_profile_picture(thinker.id)) %>
  </div>
  <div class="info">
    <span class="name"><%= link_to thinker.name, thinker_path(thinker.name) %></span>
    <span class="thoughts">Thoughts: 100k</span>
    <%= render 'followers/follow-button', thinker: thinker %>
  </div>
</div>