<article class="thought">
  <div class="text"><%= thought.text %></div>
  <div class="metadata">
    <span><%= thought.author %></span>
    <span class="actions">
      <span class="button">Love</span>
      <span class="button rethink">Rethink</span>
      <span class="button talk">Talk</span>
    </span>
  </div>
</article>